<?xml version="1.1" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2019-2019  Elypia CIC
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->
<configuration>
  <logger name="com.zaxxer" level="WARN"/>
  <logger name="io" level="WARN"/>
  <logger name="java" level="WARN"/>
  <logger name="javax" level="WARN"/>
  <logger name="org.apache" level="WARN"/>
  <logger name="sun" level="WARN"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%highlight([%-5p]) [%blue(%d{MM/dd, UTC}) %green(%d{HH:mm:ss, UTC})] %blue([%logger]) %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Enable Stackdriver if running on Google Cloud Platform. -->
  <springProfile name="gcp">
    <appender name="STACKDRIVER" class="com.google.cloud.logging.logback.LoggingAppender">
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>INFO</level>
      </filter>
      <log>elypia-api.log</log>
      <flushLevel>WARN</flushLevel>
    </appender>
  </springProfile>

  <root level="ALL">
    <appender-ref ref="STDOUT"/>

    <springProfile name="gcp">
      <appender-ref ref="STACKDRIVER"/>
    </springProfile>
  </root>
</configuration>
